<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd       
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
       ">

    <context:annotation-config/>
    <util:properties id="database" location="/WEB-INF/config.files/database.properties"/>
    <util:properties id="testProccessing" location="/WEB-INF/config.files/testModule/testModule.properties"/>

    <context:component-scan base-package="net.example.payment.system.configure.spring"/>
    <context:component-scan base-package="net.example.payment.system.dao"/>
    <context:component-scan base-package="net.example.payment.system.service"/>
    <context:component-scan base-package="net.example.payment.system.view_helpers"/>
    <context:component-scan base-package="net.example.payment.system.utils"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames" value="/WEB-INF/billpage/messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <bean id="poolProperties" class="org.apache.tomcat.jdbc.pool.PoolProperties">
        <property name="url" value="#{database.url}"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="maxActive" value="5"/>
        <property name="maxIdle" value="5"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="validationInterval" value="3000"/>
        <property name="testOnReturn" value="false"/>
        <property name="jmxEnabled" value="true"/>
        <property name="maxWait" value="10000"/>
        <property name="removeAbandonedTimeout" value="120"/>
        <property name="minEvictableIdleTimeMillis" value="30000"/>
        <property name="minIdle" value="5"/>
        <property name="removeAbandoned" value="true"/>
        <property name="jdbcInterceptors"
                  value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <property name="username" value="#{database.login}"/>
        <property name="password" value="#{database.password}"/>
    </bean>

    <bean id="myDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="poolProperties" ref="poolProperties"/>
    </bean>

    <bean id="connector" class="net.example.payment.system.service.proccessing.GeneralConnector">
        <property name="connectors">
            <map>
                <entry key="testModule" value-ref="testModule"/>
            </map>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="packagesToScan">
            <list>
                <value>net.example.payment.system.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <prop key="hibernate.generate_statistics">true</prop>
            </props>
        </property>
    </bean>

    <bean id="bc" class="org.bouncycastle.jce.provider.BouncyCastleProvider"/>

    <bean id="hibernateStringEncryptor"
          class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
        <property name="registeredName">
            <value>strongHibernateStringEncryptor</value>
        </property>
        <property name="algorithm">
            <value>PBEwithSHA256and128bitAES-CBC-BC</value>
        </property>
        <property name="password">
            <value>jasypt</value>
        </property>
        <property name="provider" ref="bc"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value=""/>
        <property name="port" value="25"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
        <property name="javaMailProperties">
            <props>
                <!-- Use SMTP transport protocol -->
                <prop key="mail.transport.protocol">smtp</prop>
                <!-- Use SMTP-AUTH to authenticate to SMTP server -->
                <prop key="mail.smtp.auth">true</prop>
                <!-- Use TLS to encrypt communication with SMTP server -->
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>

    <jaxws:endpoint
            id="billpageService"
            implementor="net.example.payment.system.webservice.BillPageServiceImpl"
            address="/billPageService"/>

</beans>
