<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/imgs/**" security="none"/>
    <http pattern="/billing/**" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/swf/**" security="none"/>
    <http pattern="/services/**" security="none"/>

    <http auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPoint" disable-url-rewriting="true"
          use-expressions="true">
        <custom-filter position="FORM_LOGIN_FILTER" ref="customUsernamePasswordAuthenticationFilter"/>
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/main/**" access="isAuthenticated()"/>
        <intercept-url pattern="/quick_statistic/**" access="isAuthenticated()"/>
        <intercept-url pattern="/detailed_statistic/**" access="isAuthenticated()"/>
        <intercept-url pattern="/transaction/**" access="isAuthenticated()"/>
        <intercept-url pattern="/**" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <access-denied-handler error-page="/login"/>
        <session-management invalid-session-url="/login?timeout_session=true"/>
        <logout logout-url="/logout"
                invalidate-session="true" logout-success-url="/login"/>
    </http>

    <beans:bean id="loginUrlAuthenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/login"/>
    </beans:bean>

    <beans:bean id="userDetailsService"
                class="net.example.payment.system.configure.spring.security.UserDetailsServiceImpl"/>
    <!-- Configure the authentication provider -->
    <beans:bean id="daoAuthenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService"/>
    </beans:bean>

    <beans:bean id="authenticationManager"
                class="org.springframework.security.authentication.ProviderManager">
        <beans:property name="providers">
            <beans:list>
                <beans:ref local="daoAuthenticationProvider"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="512"/>
    </beans:bean>

    <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <beans:property name="userPropertyToUse" value="username"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder">
                <salt-source ref="saltSource"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="customUsernamePasswordAuthenticationFilter"
                class="net.example.payment.system.configure.spring.security.LoginFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationFailureHandler" ref="failureHandler"/>
        <beans:property name="authenticationSuccessHandler" ref="successHandler"/>
    </beans:bean>

    <beans:bean id="successHandler"
                class="net.example.payment.system.configure.spring.security.AuthenticationSuccessHandler">
        <beans:property name="defaultTargetUrl" value="/main"/>
    </beans:bean>

    <beans:bean id="failureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/login?login_error=1"/>
    </beans:bean>

</beans:beans>